<div class='dashboard'>
  <h2>Dashboard</h2>
  <a href='/create' class='btn btn-primary' id='create-post'>Create New Post</a>
  <div class='posts card'>
    {{! render posts if user has any posts }}
    {{#if posts.length}}
      {{#each posts as |post|}}
        <a href='/post/{{post.id}}'><h3>{{post.title}}</h3></a>
        <p>{{post.content}}</p>
        <p>Posted on {{post.date}} by {{user.username}}</p>
        <div class='display-flex justify-space-around align-center'><button
            class='btn btn-primary'
          >Update</button><button class='btn btn-primary'>Delete</button></div>
      {{/each}}
    {{/if}}
  </div>
</div>

{{! <script src='./js/post.js'></script> }}
<script></script>