<div class='card card-padding'>
    
    <div id='postId' data-id='{{id}}'>
        <h3 class=''>{{title}}</h3>
        <p>{{content}}</p>
        <p>Posted on {{date}} by {{user.username}}</p>
    </div>
    <div class='flex-end'>
             <a
                href='/update/{{id}}'
                class='btn btn-primary right waves-teal'
              >Update</a><button
                class='btn red delete left waves-teal'
                data-id='{{id}}'
              >Delete</button>
    </div>
    <hr/>
    <br>
    <br>
    <div class=''> 
        {{#each comments }}
            <div class=''>
            <p>{{content}}</p>
            <p>{{user.username}} on {{date}}<p>
        {{/each}} 
        {{#if logged_in}}
            <div class='addComments card'>
                <form id='addComment'>
                <label for='newComment'>Comment</label>
                <input type='text' id='newComment' name='newComment' />
                <button class='btn right waves-teal' type='submit'>Comment</button>
                 
                </form>
            </div>
        
           
            {{/if}}
            
    </div>
    <script src='/js/comment.js'></script>
    <script src='/js/delete.js'></script>
    </div>
</div>