<div>
    <div id='postId' data-id='{{id}}'>
        <h3>{{title}}</h3>
        <p>{{content}}</p>
        <p>Posted on {{date}} by {{user.username}}</p>
    </div>
    <div class='row'> 
        {{#each comments }}
            <div class='col'>
            <p>{{content}}</p>
            <p>{{user.username}} on {{date}}<p>
        {{/each}} 
        {{#if logged_in}}
            <div class='addComments card'>
                <form id='addComment'>
                <label for='newComment'>Comment</label>
                <input type='text' id='newComment' name='newComment' />
                <button class='btn right waves-teal' type='submit'>Comment</button>
                 <a
                href='/update/{{id}}'
                class='btn btn-primary right waves-teal'
              >Update</a><button
                class='btn red delete right waves-teal'
                data-id='{{id}}'
              >Delete</button>
                </form>
            </div>
        
           <div class='flex-around'>
             
            </div>
            {{/if}}
    </div>
    <script src='/js/comment.js'></script>
    </div>
</div>