<div id='postId' class='card' data-id='{{id}}'>
  <h3>{{title}}</h3>
  <p>{{content}}</p>
  <p>Posted on {{date}} by {{user.username}}</p>
</div>
<div class='card'>
  <div class='row'> 
      {{#each comments}}
      <div class='col m8'>
          <p>{{content}}</p>
          <p>Posted by {{user.username}} on {{date}}<p>
          <hr />
      </div>
      {{/each}} 
      <br>
      {{#if logged_in}}
        <div class='addComments flex'>
            <form id='addComment'>
              <label for='newComment'>Comment</label>
              <textarea type='text' id='newComment' name='newComment'></textarea>
              <button class='btn right' type='submit'>Comment</button>
            </form>
        </div>
      {{/if}}
    </div>
  </div>
  <script src='/js/comment.js'></script>
